<div class="search_bar">
    <form method="GET">
        <input type="text" name="search-area" style="
            height:50px; 
            width:450px; 
            vertical-align: bottom; 
            border-top-left-radius: 30px; 
            border-bottom-left-radius: 30px;
            border-color: none;
            border-style: none;
            ">
        <input type="submit" value="Search" style="
            height:50px;
            width:200px; 
            font-size:35px; 
            vertical-align: bottom; 
            border-top-right-radius: 30px; 
            border-bottom-right-radius: 30px;
            border-color: none;
            background-color: rgb(63, 63, 209);
            border-style: none;
            ">
    </form>
</div>